<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.video"
    version="1.4.2">

    <name>Steroids VideoPlayer</name>

    <description>
        &lt;p&gt;Steroids VideoPlayer&lt;/p&gt;

        &lt;p&gt;Steroids VideoPlayer. Modified from the original Phonegap plugin
        from macdonst&lt;/p&gt;
    </description>

    <license>MIT</license>

    <js-module src="www/video.js" name="VideoPlayer">
        <clobbers target="VideoPlayer" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- android -->
    <platform name="android">

        <!-- Cordova >= 3.0.0 -->
        <config-file target="res/xml/config.xml" parent="/*">
        	<feature name="VideoPlayer">
                <param name="android-package" value="com.phonegap.plugins.video.VideoPlayer" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="application">
        </config-file>

        <source-file src="src/com/phonegap/plugins/video/VideoPlayer.java" target-dir="src/com/phonegap/plugins/video" />

    </platform>    

</plugin>
